[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/libwebp"]
	path = external/libwebp
	url = https://chromium.googlesource.com/webm/libwebp
[submodule "external/sam3"]
	path = external/sam3
	url = https://github.com/PABannier/sam3.cpp.git
[submodule "external/stable-diffusion"]
	path = external/stable-diffusion
	url = https://github.com/leejet/stable-diffusion.cpp.git
[submodule "external/ggml"]
	path = external/ggml
	url = https://github.com/PABannier/ggml.git
[submodule "external/depth-anything"]
	path = external/depth-anything
	url = https://github.com/localai-org/depth-anything.cpp.git
[submodule "external/tesseract"]
	path = external/tesseract
	url = https://github.com/tesseract-ocr/tesseract.git
[submodule "external/leptonica"]
	path = external/leptonica
	url = https://github.com/DanBloomberg/leptonica.git
[submodule "external/llama"]
	path = external/llama
	url = https://github.com/ggml-org/llama.cpp.git
